absl-py==0.12.0
aiohttp @ file:///C:/ci/aiohttp_1614361236131/work
alabaster==0.7.12
altair @ file:///tmp/build/80754af9/altair_1599835197802/work
appdirs==1.4.4
argon2-cffi @ file:///C:/ci/argon2-cffi_1613037829118/work
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
Babel @ file:///tmp/build/80754af9/babel_1607110387436/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.6.3
bleach @ file:///tmp/build/80754af9/bleach_1612211392645/work
blinker==1.4
bokeh @ file:///C:/ci/bokeh_1617827552967/work
Bottleneck==1.3.2
brotlipy==0.7.0
CacheControl @ file:///tmp/build/80754af9/cachecontrol_1594058963164/work
cachetools @ file:///tmp/build/80754af9/cachetools_1611600262290/work
catalogue==1.0.0
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1613247269562/work
chardet @ file:///C:/ci/chardet_1605285153095/work
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
cloudpickle==1.3.0
cmake==3.18.4.post1
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorcet @ file:///tmp/build/80754af9/colorcet_1611168489822/work
contextlib2==0.5.5
contextvars==2.4
cryptography @ file:///C:/ci/cryptography_1616769514516/work
cycler==0.10.0
cymem @ file:///C:/ci/cymem_1613319479701/work
Cython @ file:///C:/ci/cython_1614014892888/work
cytoolz==0.11.0
dask==1.1.2
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
descartes==1.1.0
dill @ file:///tmp/build/80754af9/dill_1605066453875/work
distributed==1.25.3
docopt==0.6.2
docutils @ file:///C:/ci/docutils_1617624823126/work
ecos @ file:///C:/ci/ecos_1614178312331/work
editdistance @ file:///C:/ci/editdistance_1605209295636/work
entrypoints==0.3
ephem @ file:///C:/ci/ephem_1600355487968/work
et-xmlfile==1.0.1
fastrlock==0.6
filelock @ file:///home/linux1/recipes/ci/filelock_1610993975404/work
Flask==1.1.2
Flask-Cors==3.0.8
flatbuffers==1.12
fsspec @ file:///tmp/build/80754af9/fsspec_1617959894824/work
future==0.16.0
gast==0.3.3
GDAL==2.2.2
geojson==2.5.0
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
google-auth @ file:///tmp/build/80754af9/google-auth_1617985782425/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
google-pasta==0.2.0
googleapis-common-protos @ file:///C:/ci/googleapis-common-protos-feedstock_1617957821459/work
greenlet @ file:///C:/ci/greenlet_1611958382984/work
grpcio==1.29.0
h5py==2.10.0
HeapDict==1.0.1
holoviews @ file:///tmp/build/80754af9/holoviews_1617994361745/work
html5lib==1.0.1
humanize==0.5.1
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
idna-ssl @ file:///C:/ci/idna_ssl_1611752657819/work
imageio==2.4.1
imagesize @ file:///home/ktietz/src/ci/imagesize_1611921604382/work
immutables @ file:///C:/ci/immutables_1615841288064/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1617877476772/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython==7.14.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1610481889018/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1611341129952/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
jsonify==0.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-console==6.1.0
jupyter-core @ file:///C:/ci/jupyter_core_1612213536848/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
Keras-Preprocessing==1.1.2
kiwisolver @ file:///C:/ci/kiwisolver_1612282446297/work
lightgbm==2.2.3
llvmlite==0.34.0
locket==0.2.1
lxml @ file:///C:/ci/lxml_1616443258060/work
Markdown @ file:///C:/ci/markdown_1614364003005/work
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1592846129657/work
missingno @ file:///tmp/build/80754af9/missingno_1605824147679/work
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1613676688952/work
mpmath==1.2.1
msgpack @ file:///C:/ci/msgpack-python_1612287359466/work
multidict @ file:///C:/ci/multidict_1607362067746/work
murmurhash @ file:///C:/ci/murmurhash_1607456164222/work
natsort==5.5.0
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///C:/ci/nbconvert_1601896775581/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx @ file:///tmp/build/80754af9/networkx_1617653298338/work
nltk==3.2.5
notebook @ file:///C:/ci/notebook_1616443540258/work
numba==0.51.2
numexpr @ file:///C:/ci/numexpr_1614798717152/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603480701039/work
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
openpyxl==2.5.9
opt-einsum==3.3.0
packaging @ file:///tmp/build/80754af9/packaging_1611952188834/work
palettable==3.3.0
pandas @ file:///C:/ci/pandas_1602088210462/work
pandas-datareader @ file:///tmp/build/80754af9/pandas-datareader_1595379313840/work
pandas-profiling==1.4.1
pandocfilters @ file:///C:/ci/pandocfilters_1605120535071/work
panel @ file:///tmp/build/80754af9/panel_1617998278809/work
param @ file:///tmp/build/80754af9/param_1610132696605/work
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
partd==1.1.0
pathlib==1.0.1
patsy==0.5.1
pexpect==4.8.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///C:/ci/pillow_1617386325740/work
plotly==4.4.1
pluggy==0.7.1
pooch @ file:///tmp/build/80754af9/pooch_1616506788605/work
portpicker==1.3.1
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1618088486455/work
promise @ file:///C:/ci/promise_1614011901206/work
prompt-toolkit==3.0.5
protobuf==3.12.4
psutil==5.4.8
psycopg2==2.7.6.1
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyct @ file:///C:/ci/pyct_1600458388615/work
Pygments @ file:///tmp/build/80754af9/pygments_1615143339740/work
PyJWT==1.7.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
PySocks @ file:///C:/ci/pysocks_1605305839978/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pyviz-comms @ file:///tmp/build/80754af9/pyviz_comms_1610136480588/work
pywin32==300
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
qtconsole==4.7.4
QtPy==1.9.0
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
retrying==1.3.3
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
scikit-learn @ file:///C:/ci/scikit-learn_1614446902030/work
scipy @ file:///C:/ci/scipy_1597675683670/work
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
simplegeneric==0.8.1
six @ file:///C:/ci/six_1605187303045/work
sklearn==0.0
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1606865132123/work
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tensorboard==2.4.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.4
testpath @ file:///home/ktietz/src/ci/testpath_1611930608132/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
tornado @ file:///C:/ci/tornado_1606942379977/work
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
traitlets==4.3.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1611751222202/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1615837158687/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306197271/work
wincertstore==0.2
wrapt==1.12.1
yarl @ file:///C:/ci/yarl_1606921989557/work
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
